*{
    margin: 0;
    padding: 0;
}

html{
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: lightblue;
}

nav{
  height: 50px;
  background: lightblue;
  display: fixed;
  border-radius: 7px;
  width: 98%;
  margin-left: 12px;
}

#nav-bar ul{
    width: 100%;
    margin: 0 0 20px;
    display: relative;
    justify-content: space-between;
    cursor: pointer;
}

#nav-bar ul li{
    text-align: center;
    display: inline-block;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 11px;
    margin-right: 20px;
    float: right;
    color: white;
}

#nav-bar ul li:hover{
    color: orange;
    border-bottom: 2px solid white;
}

#nav-bar ul li a {
    color: white;
}

#nav-bar ul li a:hover{
    color: orange;
    border-bottom: 2px solid white;
}

#main-head {
    float: left;
    font-size: 32px;
    margin: 0 15px;
    font-family:'Sofia';
    font-weight: bolder;
    color: white;
}

.hero{
    padding-top: 50px;
}

h2{
    color: rgb(248, 177, 46);
}

.tableHead{
    font-size: 23px;
    color: rgb(102, 196, 255);
    color: light rgb(189, 189, 189);
    background-color: rgba(255, 255, 255, 0.863);
    padding: 3rem;
}

.banner-middle{
    background-color: rgba(255, 255, 255, 0.863);
    padding-bottom: 3rem;
}

.banner .contentX h2{
    margin: 0;
    padding-left: 0;
    color: orange;
    font-size: 22px;
}

.int{
    margin: 30px;
    padding-top: 30px;
    font-family: monospace;  
}

.table{
    width: 1050px;
    height: 150px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}

tr th{
    border-top: 2px solid rgb(82, 82, 82);
    border-right: 2px solid rgb(82, 82, 82);
    border-bottom: 2px solid rgb(82, 82, 82);
    border-left: 2px solid rgb(82, 82, 82);
    border-radius: 7px;
    font-size: 15px;
}

tr th ol{
    color: rgb(248, 177, 46);
}

th{
    width: 4rem;
    line-height: 3rem;
    background-color: white;
}

#pricing {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 82%;
    height: 209px;
    margin: 20px;
    border-radius: 7px;
}
  
.product > .level {
    background-color: rgb(248, 177, 46);
    color: white;
    padding: 15px 0;
    width: 1050px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 7px;
}

#banner{
    background-color: white;
    padding: 10px;
}

.sub-head {
  margin-left: 555px;
  margin-top: 50px;
  padding-top: 40px;
  font-style: italic;
  font-size: 20;
}

.sub-head h2{
    margin: 0 20px;
    padding-top: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    margin-left: 50px;
    position: relative;
}

.middle-head{
    font-size: 23px;
    color: rgb(102, 196, 255);
    padding-top: 3rem;
}


.img{
    width: 382px;
    height: 294px;
}

#vegan{
    width: 499px;
}


ul li{
    justify-content: space-between;
    color: black;
    list-style: none;
    float: right;
    margin: 0 10px;
}

.container .middle-header{
    float: center;
    font-size: 30px;
}

.contaner-footer{
    height: 350px;
    padding-bottom: 25px;
    font-family: monospace;
    background-color:rgba(255, 255, 255, 0.863);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.container-line{
    text-align: center;
}

.form-footer input{
    margin: 15px;
    border-radius: 7px;
    width: 180px;
    height: 15px;
}

.footer-email{
    margin-left: 35px;
}

#comments{
    width: 300px;
    border-radius: 7px;
}

.row-footer h1{
    color: orange;
    font-size: 35px;
    font-weight: 3rem;
    font-family: 'sofia';
    padding-top: 30px;
}

.row-footer p{
    color: rgb(89, 191, 255);
    font-size: 15px;
    margin-top: 10px;
}

.btn-footer{
    padding: 0 20px;
    width: 305px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    border: 3px lightblue;
    border-radius: 7px;
    background-color: lightskyblue;
    cursor: pointer;
}

.btn-footer:hover{
    background-color: rgb(64, 201, 255);
    color: white;
    transition: background-color 0.5s;
}

#nav-footer{
    margin-top: 30px;
    background-color: lightblue;
    padding: 20px;
    border-radius: 7px;
    font-size: 17px; 
}

#nav-footer ul li{
    color: white;
    justify-content: space-between;
    cursor: pointer;
}

#nav-footer ul li:hover{
    color: orange;
    border-bottom: 2px solid white;
}

