*{
    margin: 0;
    padding: 0;
}

html{
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: lightblue;
}

nav{
  height: 50px;
  background: lightblue;
  display: fixed;
  border-radius: 7px;
  width: 98%;
  margin-left: 12px;
}

#main-head{
    font-family: 'sofia';
    font-size: 30px;
    color: white;
    margin: 0 15px;
}

#nav-bar ul{
    width: 100%;
    margin: 0 0 20px;
    display: relative;
    justify-content: space-between;
    cursor: pointer;
}

#nav-bar ul li:hover{
    color: crimson;
}

#nav-bar ul li{
    text-align: center;
    display: inline-block;
    justify-content: space-between;
    font-size: 15px;
    margin: 50px;
    margin-top: 11px;
    margin-right: 20px;
    float: right;
    color: white;
}

#nav-bar ul li a {
    color: white;
}

#nav-bar ul li a:hover{
    color: crimson;
}

#main-head {
    float: left;
    font-size: 30px;
    margin: 0 15px;
    font-family:'Sofia';
    font-weight: bolder;
    color: white;
}

.wrapper{
    width: 82%;
    padding : 20px;
    border: 3px solid white;
    box-sizing: border-box;
    background: white;
    display: inline-flex;
    font-size: 16px;
    margin: 15px;
    margin-left: 115px;
    border-radius: 7px;
}

.wrapperX img{
    width: 525px;
    margin-left: 15px;
    display: inline-block;
    padding-right: 50px;
    border-radius: 4px;
}

.wrapper .wrapperX{
    max-width: 100%;
}

.wrapper .contentX{
    padding-left: 20px;
}

.wrapper .contentX h2{
    margin: 0;
    padding-left: 0;
    color: crimson;
    font-size: 22px;
}

.table{
    display: 50%;
    background-color:white;
    width: 1050px;
    height: 150px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}

th{
    width: 4rem;
    line-height: 3rem;
}

caption{
    color: black;
    margin-left: 1rem;
    font-size: 30px;
}

#pricing {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 82%;
    height: 209px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 4px;
}
  
.product > .level {
    background-color: rgb(55, 55, 179);
    color: white;
    padding: 15px 0;
    width: 1050px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
}

#banner{
    background-color: white;
    height:1000px;
    border-radius: 7px;
}

.sub-head {
  margin-left: 555px;
  margin-top: 50px;
  font-style: italic;
  font-size: 20;
}

.sub-head h2{
    margin: 0 20px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    margin-left: 50px;
    position: relative;
}

.img-box{
    width: 500px;
    height: 295px;
    margin: 20px;
    border: 2.5px solid lightblue;
    border-radius: 5px;
    text-align: center;
}

.img{
    width: 380px;
    height: 292px;
    border-radius: 5px;
    padding: 1px;
}

#vegan{
    width: 499px;
}

.transition-image{
    position: absolute;
    top: 2px;
    padding-top: 20px;
    left: 68px;
    height: 298px;
    opacity: 0;
    border-radius: 7px;
}

.transition-image:hover{
    opacity: 1;
    transition: opacity 0.7s ease;
}

.transition{
    position: absolute;
    top: 2px;
    padding-top: 20px;
    right: 66.9px;
    height: 298px;
    border-radius: 7px;
    opacity: 0;
}
.transition:hover{
    opacity: 1;
    transition: opacity 0.7s ease;
}

.trans-img{
    position: absolute;
    top: 2PX;
    padding-top: 21px;
    left: 67px;
    height: 295px;
    width: 500px;
    border-radius: 7px;
}

.fade{
    padding-top: 22px;
}

.fade::after{
    content: "Burgers";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: black;
    width: 500px;
    height: 100%;
    position: absolute;
    left: 68px;
    height: 298px;
    border-radius: 7px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade:hover::after{
    opacity: 0.5;
}

.trans-img-right{
    position: absolute;
    top: 2px;
    padding-top: 21px;
    right: 67px;
    height: 295px;
    width: 500px;
    border: 7px;
}

.fade-box{
    padding-top: 22px;
}

.fade-box::after{
    content: "DESERTS";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: black;
    width: 500px;
    height: 100%;
    position: absolute;
    right: 68px;
    height: 298px;
    border-radius: 7px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-box:hover::after{
    opacity: 0.5;
}

ul li{
    justify-content: space-between;
    color: black;
    list-style: none;
    float: right;
    margin: 0 10px;
}

#nav-footer{
    margin-top: 30px;
    background-color: lightblue;
    padding: 20px;
    border-radius: 7px;
    font-size: 17px; 
}

#nav-footer ul li{
    color: white;
    justify-content: space-between;
    cursor: pointer;
}

#nav-footer ul li:hover{
    color: crimson;
}

